.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px rgb(12, 140, 199);    
}
.NOTE{
    font-size: 15px;
    color: rgb(123, 32, 184);
}
.copy_right_footer{
    position: fixed;
    color:firebrick;
    background-color: greenyellow;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:  10px 10px 10px yellowgreen;
}